.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 50px 10px;
  width: 100%;
}

button.question {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 23px;
  color: #03AB99;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .card {
    width: 700px;
    margin-top: 100px;
    border-radius: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  }

  .question {
    text-align: left;
  }
}

.title {
  color: #03AB99;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}