.blogTable {
  width: 1279px;
  height: 774px;
  padding-left: 80px;
  padding-right: 81px;
  padding-top: 55px;
  padding-bottom: 90px;
}
.blogTableRow {
  background: transparent;
  border: 1px solid lightgray;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  padding-top: 82px;
  margin-left: 218px;
  padding-bottom: 10px;
  width: 881px;
  align-items: center;
  display: inline-flex;
}
.action {
  margin-left: 95px;
}
.actionButtons {
  background-color: transparent;
  border: none;
}
.tableName {
  display: inline;
}
.tableHeader {
  border: 1px solid lightgray;
  border-right: 0px;
  border-left: 0px;
  height: 45px;
  display: flex;
  align-items: center;
  width: 1281px;
}
.footer {
  margin-left: 900px;
}
