.blogTable {
  max-width: 1279px;
  max-height: 774px;
  width: 90%;
  height: 85%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 55px;
  padding-bottom: 90px;
  margin: auto;
}

.blogTableRow {
  background: transparent;
  border-bottom: 1px solid lightgray;
  align-items: center;
  display: inline-flex;
  max-width: 1279px;
  max-height: 774px;
  width: 100%;
  height: 70%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  flex-grow: 1;
}

.rowSelected {
  background: gray;
  border-bottom: 1px solid lightgray;
  border-left:#03AB99;
  align-items: center;
  display: inline-flex;
  max-width: 1279px;
  max-height: 774px;
  width: 100%;
  height: 70%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.action {
  /*margin-left: 185px; 95*/
  width: 250px;
}

.actionButtons {
  background-color: transparent;
  border: none;
}

.actionButtons:hover {
  background-color: transparent;
  border: none;
  color: #03AB99;
}

button.unpublishButton {
  /*margin-left: 220px;*/
  margin-left: 60px;
  background-color: gray;
  min-width: 100px;
  border: none;  
  color: white;  
  padding: 15px 32px;  
  text-align: center;  
  text-decoration: none;  
  display: inline-block;  
  font-size: 16px;  
  /* margin: 4px 2px;   */
  cursor: pointer;
}


.tableName {
  display: inline;
}

.tableHeader {
  border: 1px solid lightgray;
  background-color: #C4C4C4;
  opacity: 40%;
  color: #2A2D39;
  border-right: 0px;
  border-left: 0px;
  display: flex;
  align-items: center;
  max-width: 1281px;
  height: 45px;
  width: 90%;
}

.tableContents {
  max-height: 720px;
  overflow-y: auto;
}

.blogContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 60px;
  margin-bottom: 50px;
}

.card {
  width: 300px;
  margin: 15px;
  box-shadow: 0px 4px 15px 0px #000000 15%;
}

.title {
  size: 10em;
  font-weight: 600;
}

.readMore {
  size: 1.5em;
  color: #03AB99;
  font-weight: 300;
}