.blogTable {
  width: 1150px;
}
.blogTableRow {
  background: transparent;
  border: 1px solid lightgray;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  padding: 25px;
  margin-left: 125px;
  margin-bottom: 10px;
  width: 900px;
  align-items: center;
  display: inline-flex;
  justify-content: space-evenly;
}
.action {
  margin-left: 95px;
  margin-right: 52px;
}
.actionButtons {
  background-color: transparent;
  border: none;
}
.tableName {
  display: inline;
}
.tableHeader {
  border: 1px solid lightgray;
  border-right: 0px;
  border-left: 0px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 300px;
  padding-right: 260px;
}
.footer {
  margin-left: 900px;
}
