.general {
    background-image: url("../../../public/static/blog-news.png");
    margin: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.centerText {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    line-height: 100px;

    color: #FFFFFF;

}