.picture {
  height: 200px;
  min-width: 100%;
}

@media screen and (min-width: 600px) {
  .picture {
    height: 550px;
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.titleText {
  font-size: 47px;
  background: rgba(0,0,0, 0.3);
  padding: 1em;
}

div.mobileTitleText {
  font-size: 25px;
  background: rgba(0,0,0, 0.3);
}

.background {
  background-image: url("../../../public/static/HaitiImage2.png");
  margin: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
