.picture {
  min-width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 600px) {
  .picture {
    max-height: 881px;
  }
}

.jumbotron {
  position: relative;
  text-align: center;
  color: white;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% 4% 2% 4%;
}

.pageName {
  font-weight: 500;
  font-size: 85px;
  line-height: 100px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.52);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .pageName {
    font-weight: 500;
    font-size: 48px;
    line-height: 50px;
    top: 75%;    
  }
}

.pictures {
  width: 100%;
  padding: 20px 50px;
}

.classroomPicture {
  object-fit: cover;
  width: 100%;
  /* height: 50%; */
  padding: 10px;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: left;
  padding: 50px 10px;
  width: 95%;
}

@media screen and (min-width: 600px) {
  .card {
    width: 95%;
    padding: 50px 100px;
    margin-top: 100px;
    border-radius: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  }
}

.sectionTitle {
  width: 260px;
  font-size: 35px;
  border-bottom: 4px #03Ab99;
  border-bottom-style: solid;
  margin-left: -100px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.title {
  line-height: 50px;
  color: black;
}

.blueText {
  color: #4ca899;
}

.background {
  background-image: url("../../../public/static/HaitiImage2.png");
  margin: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.donateText {
  left: 2.08%;
  right: 56.25%;
  top: 62.7%;
  bottom: 34.58%;
  padding-left: 100px;
  padding-top: 350px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  /* or 158% */
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 4px 0px 5px rgba(150, 150, 150, 0.53);
}

.donateTextMobile {
  left: 2.08%;
  right: 56.25%;
  top: 62.7%;
  bottom: 34.58%;
  padding-top: 350px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: auto;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 4px 0px 5px rgba(150, 150, 150, 0.53);
}

button.donateButton {
  background: #03AB99;
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button.donateButton:hover {
  text-align: center;
  border-color: #FFFFFF;
  color: #03AB99;
  background: #FFFFFF;
}

.buttonDiv {
  padding-top: 350;
  padding-left: 230px;
}