.page {
  width: 100%;
  margin-top: 0;
  background: linear-gradient(rgba(255,255,255,0.40),rgba(255,255,255,0.40)), url("../../../public/static/donate.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 100px;
  width: 60%;
}
.mobileContainer {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.mainHeader {
  font-size: 55px;
  font-weight: bold;
  margin-left: 35%;
  color: #03AB99;
}
.mainHeaderMobile {
  font-size: 25px;
  font-weight: bold;
  margin: 45% 0 3% 25%;
  color: #03AB99;
  letter-spacing: .05em;
}
.mainText {
  margin-top: 30%;
  margin-left: 20%;
  line-height: 1.25em;
  font-size: 20px;
}
.mainTextMobile {
  font-size: 14px;
  margin: 0 7% 0 25%;
  text-align: justify;
  line-height: 1.25em;
}
.donateMobile {
  font-size: 18px;
  margin-top: 1em;
}
.elements {
  background-color: white;
  width: 60%;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.mobileElements {
  background-color: white;
  width: 90%;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  margin-top: .5em;
}
.donationFreqButtons {
  border-radius: 0px;
  background-color: white;
  border-color: #03ab99;
  color: #03ab99;
  width: 50%;
}
.donationFreqButtons:hover {
  border-radius: 0px;
  background-color: #03ab99;
  border-color: #03ab99;
  color: white;
}
.amountButtons {
  justify-items: flex-start;
  width: 100%;
}
.amtButton {
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  width: 30%;
  border-radius: 0px;
  margin-right: 10px;
  margin-top: 13px;
}
.headers {
  border-bottom-style: solid;
  border-bottom-color: #03ab99;
  margin-top: 40px;
  text-align: center;
}
.completeDonation {
  border-radius: 0px;
  background-color: white;
  border-color: #03ab99;
  color: #03ab99;
  width: 100%;
}
