.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20%;
  width: 65%;
  height: 100%;
}
.elements {
  background-color: white;
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
}
.frequencyButtons {
  border-radius: 0px;
  background-color: white;
  border-color: #03ab99;
  color: #03ab99;
  width: 50%;
}
.frequencyButtons:hover {
  border-radius: 0px;
  background-color: #03ab99;
  border-color: #03ab99;
  color: white;
}
.amountButtons {
  justify-items: flex-start;
  height: 50%;
  width: 100%;
}
.amtButton {
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  width: 30%;
  border-radius: 0px;
  margin-right: 13px;
  margin-top: 13px;
}
.headers {
  border-bottom-style: solid;
  border-bottom-color: #03ab99;
  margin-top: 40px;
  text-align: center;
}
