div.homeOverlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 100px;
  }


div.cardTitle {
    font-size: 60px;
    font-weight: 500px;
    line-height: 73px;
    text-align: center;
    align-self: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.mobileCardTitle {
    font-size: 35px;
    font-weight: 500px;
    text-align: center;
    align-self: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p.cardSubtitle {
    font-size: 30px;
    font-weight: 500;
    align-self: center;
    text-align: center;
}

p.mobileCardSubtitle {
    font-size: 28px;
    font-weight: 500px;
    align-self: center;
    text-align: center;
}

h1.processTitle{
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 100px;
}
h1.mobileProcessTitle {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}
div.processContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 200px;

}

div.mobileProcessContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;

}
