.picture {
  height: 200px;
  min-width: 100%;
}

@media screen and (min-width: 600px) {
  .picture {
    height: 550px;
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageContainer{
  background-image: url("../../../public/static/Our\ work_contact\ us.jpg");
  /* width: 100%;
  height: auto; */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;

}