.blogContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    width: 80%;
    height: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.blogButton {
    padding: 8px 16px;
    outline: none;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    transition: 0.3s;
    font-size: 16px;
}

.titleContainer {
    display: flex;
    justify-content: center;
    margin: 32px 0px;
}

.title {
    text-align: center;
    outline: 0;
    border: transparent;
    font-size: 36px;
}
