.blogContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10%;
  margin-top: 15%;
  width: 80%;
  height: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.blogButton {
  padding: 8px 16px;
  outline: none;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  transition: 0.3s;
  font-size: 16px;
  margin-right: 10px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  margin: 32px 0px;
}

.title {
  text-align: left;
  outline: 0;
  font-size: 20px;
  width: 100%;
}

.subtitleContainer {
  display: flex;
  vertical-align: 10px;
  justify-content: center;
  margin: 10px 0px;
}

.subtitle {
  text-align: left;
  outline: 0;
  font-size: 20px;
  width: 100%;
  height: 70px;
}

.quil-editor {
  height: 100px;
  overflow-y: scroll;
  min-height: 300px;
}
.referencesContainer {
  overflow-y: scroll;
  max-height: 100px;
}
