.centerText {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    line-height: 100px;

    color: #FFFFFF;

}

.general {
    background-image: url("../../../public/static/home-bg.jpg");
    margin: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.space {
    padding: 5%;
}

.images {
    display: flex;
}

.pictures {
    position: absolute;
}

#a img{
    max-width: 100%;     
    height: auto;     
    width: auto;
}

.centerButton {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100%;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


