/* Header CSS */
.header {
    background-image: url("../../../public/static/our-story-header.png");
    margin: 0;
    height: 739px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerTitle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;

    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    line-height: 100px;

    color: #FFFFFF;
}

.headerText {
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.3%;
    padding-bottom: 2%;
    

    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
}

/* Our Story/Issue CSS */
.centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bodyText {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    text-align: justify;
    line-height: 26px;
    letter-spacing: 1.05px;
    color: #2A2D39;
}

.blueText {
    color: #4ca899;
}

.ourStory {
    padding: 117px 128px 120px 0px;
}

.blueLineStory {
    border-bottom: 4px #03Ab99;
    border-bottom-style: solid;
}

.blueLineIssue {
    border-top: 4px #03Ab99;
    border-top-style: solid;
}

.issueTackling {
    background: linear-gradient(rgba(255,255,255,0.80),rgba(255,255,255,0.80)), url("../../../public/static/martin-bekerman.jpg");
    background-size: cover;
    background-position: 50% 50%;
    padding: 117px 0px 120px 117px;
    z-index: 0;
}

/* Our Team */

.ourTeamText{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    align-items: left;

}

.ourTeam{
    padding-top: 50px;
}

.Bernard {
    background-image: url("../../../public/static/Bernard_headshot.jpg");
    margin: 0;
    height: 739px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blueText2 {
    color: #4ca899;
    text-align: left;
}

/* Donate */
/* Could be useful for donate button */
/* .centerButton {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100%;
} */