/* Header CSS */
.header {
    background-image: url("../../../public/static/our-story-header.png");
    margin: 0;
    height: 739px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.headerTitle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;

    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    line-height: 100px;

    color: #FFFFFF;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

h1.mobileHeaderTitle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;

    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 100px;

    color: #FFFFFF;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
p.headerText {
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.3%;
    padding-bottom: 2%;
    

    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
}

p.mobileHeaderText {
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.3%;
    padding-bottom: 2%;
    

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
}
/* Our Story/Issue CSS */
.centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bodyText {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    text-align: justify;
    line-height: 26px;
    letter-spacing: 1.05px;
    color: #2A2D39;
}

.blueText {
    color: #4ca899;
}

div.ourStory {
    padding: 117px 128px 120px 0px;
}

div.mobileOurStory {
    margin-left: 5%;
    margin-right: 5%;
}

h1.blueLineStory {
    border-bottom: 4px #03Ab99;
    border-bottom-style: solid;
    margin-top: 50px;
}

h1.blueLineIssue {
    border-top: 4px #03Ab99;
    border-top-style: solid;
}

h1.issueLineBottom {
    border-bottom: 4px #03Ab99;
    border-bottom-style: solid;
    padding-top: 30px;
}

.issueTackling {
    background: linear-gradient(rgba(255,255,255,0.80),rgba(255,255,255,0.80)), url("../../../public/static/martin-bekerman.jpg");
    background-size: cover;
    background-position: 50% 50%;
    padding: 117px 0px 120px 117px;
    z-index: 0;
}
.mobileIssueTackling {
    background: linear-gradient(rgba(255,255,255,0.80),rgba(255,255,255,0.80)), url("../../../public/static/martin-bekerman.jpg");
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0; 
    margin-bottom: 40px;
}

/* Our Team */

.ourTeam{
    margin: 0% 10% 0% 10%
}
p.ourTeamText{
    padding-top: 30px;
    font-size: calc(14px + 0.25vw);
    line-height: 26px;
    text-align: left;
    align-items: left;

}

.blueLineTeam {
    width: 100%; 
    text-align: center; 
    border-bottom: 4px solid #03Ab99; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
.blueLineTeam span { 
     background:#fff; 
     padding:0 15px; 
 }

.ourTeamHeader{
    text-align: center;
    align-items: center;
}


.centerContent {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.mobileCenterContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.pictures {
    height: auto;
    position: absolute;
    width: auto;
    max-width: 100%; 
    flex-shrink: 0;
    align-content: stretch;
    flex-wrap: wrap;
}
.donate {
    background: linear-gradient(270.01deg, rgba(196, 196, 196, 0.126) -43.35%, rgba(207, 207, 207, 0.2) 29.99%, rgba(229, 229, 229, 0.2) 105.19%), url("../../../public/static/seth-doyle-78210-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 200px 120px 120px 120px;
    
}

button.donateButton {
    background: #03AB99;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.donateButton:hover {
    text-align: center;
    border-color: #FFFFFF;
    color: #03AB99;
    background: #FFFFFF;
}

.background {
    background-image: url("../../../public/static/HaitiImage2.png");
    margin: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}


h1.donateText {
    left: 2.08%;
    right: 56.25%;
    top: 62.7%;
    bottom: 34.58%;
    padding-left: 100px;
    padding-top: 350px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    /* or 158% */
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 4px 0px 5px rgba(150, 150, 150, 0.53);
  }
  
h1.donateTextMobile {
    left: 2.08%;
    right: 56.25%;
    top: 62.7%;
    bottom: 34.58%;
    padding-top: 350px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: auto;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 4px 0px 5px rgba(150, 150, 150, 0.53);
  }
  
.buttonDiv {
    padding-top: 350;
    padding-left: 230px; 
}


h2.founderTitle {
    color: #4ca899;
    font-size: calc(12px + 1.25vw)
}

h1.name {
    font-size: calc(12px + 1.75vw)
}

h1.mobileName {
    font-size: calc(12px + 1.75vw);
    padding-top: 30px;
}
div.founderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 80px;
}

div.bernard {
    display: grid;
    margin-bottom: 100px;
    align-items: center; 
    gap: 0px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "bernardImage bernardInfo bernardInfo";
  }
  img.bernardImage { grid-area: bernardImage; width: 100%; min-width: 300px}
  div.bernardInfo { grid-area: bernardInfo; width: 100% }

div.mobileBernard {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.theodore {
    display: grid;
    margin-bottom: 100px;
    align-items: center;
    gap: 0px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "theodoreImage theodoreInfo theodoreInfo";
  }
  img.theodoreImage { grid-area: theodoreImage; width: 100%; min-width: 300px}
  div.theodoreInfo { grid-area: theodoreInfo; }

  div.mobileTheodore {
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }