.container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    background-color: transparent;
}

.innerContainer {
    display: flex;
    height: 200px;
    width: 30%;
    min-width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.inputContainer {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.title {
    margin-bottom: 40px;
    font-size: 18px;
}

.input {
    flex: 5;
    outline: 0;
    border: 1px solid silver;
    padding: 10px;
    font-size: 12px;
}

.button {
    flex: 1;
    background-color: #03AB99;
    border: none;
    color: white;
    font-size: 12px;
}

.button:hover {
    background-color: #0eddc8;
}