
.navbar-stuff {
    background-color: rgba(42, 45, 57, 0.8);
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding-left: 0
}

img.mobile-logo {
    display: none;
}

.navbar-stuff img {
    height: 100%;
}

#basic-navbar-nav a {     
    color: white; 
} 
.dropdown-menu {     
    background-color: grey; 
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

@media(max-width: 599px) {
    img.large-logo {
        display: none;
    }
    img.mobile-logo {
        display: block;
    }
}