.pictures {
  height: 681px;
  width: 1700px;
  /* max-width: 100%;  */
  flex-shrink: 0;
  align-content: stretch;
  justify-content: stretch;
  flex-wrap: wrap;
}

/* .faq {
  height: 700px;
  width: 800px;
  margin-top: 100px;
  margin-left: 400px;
} */

.question {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #03AB99;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #03AB99;
  align-items: center;
  text-align: center;
  /*margin-left: 720px;
  display: flex;
  margin-top: 100px; */
}

.title2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #03AB99;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  /*margin-left: 720px;
  display: flex;
  margin-top: 100px; */
}


.container {
  align-items: center;
  text-align: left;
  margin-top: 180px;
  left: 50%;
  margin-left: -310px;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.input {
  margin: 0 auto;
  opacity: 0.5;
  line-height: 28px;
  border-radius: 10px;
  /*
  border: 1px solid #969696;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  */
}

.inputMessage {
  margin: 0 auto;
  opacity: 0.5;
}

.submit {
  color: white;
  background: #03AB99;
  border-radius: 5px;
  border: none;
  text-align: center;
  margin: auto; 
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
}