.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 50px 10px;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .card {
    width: 600px;
    padding: 50px 100px;
    margin-top: -200px;
    border-radius: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  }
}

.title {
  line-height: 50px;
  color: #03AB99;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.input {
  opacity: 0.5;
  line-height: 30px;
}

.inputMessage {
  opacity: 0.5;
}

.submit {
  color: white;
  background: #03AB99;
  border-radius: 5px;
  border: none;
  padding: 10px 80px;
}