.pictures {
    height: 681px;
    width: 1700px;
    /* max-width: 100%;  */
    flex-shrink: 0;
    align-content: stretch;
    justify-content: stretch;
    flex-wrap: wrap;
}

.question {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    color: #03AB99;
    margin-left: 720px;
    margin-top: 100px;
    
}

.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: flex-end;
    color: #03AB99;
    margin-left: 720px;
    margin-top: 100px;
}
