.footer {
    display: flex;
    flex-direction: row;
    padding: 30px 4px;
    background: #2A2D39;
    align-items: left;
    flex-direction: column;
    display: flex;
    bottom: 0;
    right: 0;
    width: 100%;
}

.image {
    padding-right: 50px;
}

.mobileImage {
    padding-top: 10px;
}

.icon {
    padding-left: 15px;

}

.header {
    color: #009d91;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.mobileHeader {
    color: #009d91;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
}

.header a:link, .header a:visited, .header a:hover, .header a:active {
    text-decoration: none;
    color: #009d91;
}

.sublinks {
    padding-top: 10px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}

.mobileSublinks {
    padding-top: 10px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 8px;
}


.sublinks a:link, .sublinks a:visited, .sublinks a:active {
    text-decoration: none;
    color: white;
}

.sublinks a:hover {
    text-decoration: underline;
}

.social {
    color: white;
    padding-bottom: 20px;
}

.button {
    padding-right: 50em;
    align-self: flex-end;
}

.verticalLine {
    border-left: 1px solid #666666;
    padding-right: 20px;
}

.horizontalLine {
    border-bottom: 1px solid #009d91;
    padding-right: 20px;
}