.footer {
    display: flex;
    flex-direction: row;
    padding: 8px 4px;
    background: #2A2D39;
    align-items: left;
    flex-direction: column;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 100em;
}


.button {
    padding-right: 50em;
    align-self: flex-end;
}

