@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App > .Content {
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

*:focus:not(.focus-visible) {
  outline: none;
}

/* Navbar styles */
.navbar-stuff {
  background-color: rgba(42, 45, 57, 0.8);
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  width: 100%;
  padding-left: 0;
}

img.mobile-logo {
  display: none;
}

.navbar-stuff img {
  height: 100%;
}

#basic-navbar-nav a {
  color: white;
}

.navbar-nav .dropdown-menu { 
  background-color: rgba(42, 45, 57, 0.7); 
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar-nav .dropdown-item:hover {
  background-color: rgba(42, 45, 57, 0.45);
}

@media (max-width: 599px) {
  img.large-logo {
    display: none;
  }
  img.mobile-logo {
    display: block;
  }
}
